<header class="container-fluid BG">
  <div class="container">
    <div class="row">
      <div class="col-3 logo">
        <a href="">
          <img class="logo_image" src="../../assets/image/Logo.png" alt="">
          <span class="logoTextbold">UNI</span><span class="logoTextnormal">CORP</span>
        </a>
      </div>
      <div class="col-9 header_menu">
        <nav class="nav navbar-expand-lg">
          <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <div class="nav">
              <div class="nav-item">
                <a class="nav-link header_menu_link" href="#">Home</a>
                <div class="pop-ap_menu">
                  <a href="#" class="pop-app_menu_item">Homepage Main</a>
                  <div class="pop-app_menu_item_link_block">
                    <span class="nav-item_icon">
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </span>
                    <a href="#" class="pop-app_menu_item">Homepage Finance</a>
                    <div class="pop-app_menu_item_link">
                      <a href="#" class="pop-app_menu_item">Homepage App</a>
                      <a href="#" class="pop-app_menu_item">Homepage Startup</a>
                      <a href="#" class="pop-app_menu_item">Homepage Business</a>
                    </div>
                  </div>
                  <a href="#" class="pop-app_menu_item">Homepage App</a>
                  <a href="#" class="pop-app_menu_item">Homepage Startup</a>
                  <a href="#" class="pop-app_menu_item">Homepage Business</a>
                  <a href="#" class="pop-app_menu_item">Homepage SaaS</a>
                  <a href="#" class="pop-app_menu_item">Homepage Portfolio</a>
                  <a href="#" class="pop-app_menu_item">Homepage Consulting</a>
                  <a href="#" class="pop-app_menu_item">Homepage Crporate</a>
                </div>
              </div>
              <div class="nav-item">
                <a class="nav-link header_menu_link" href="#">About</a>
              </div>
              <div class="nav-item">
                <a class="nav-link header_menu_link" href="#">Services</a>
              </div>
              <div class="nav-item">
                <a class="nav-link header_menu_link" href="#">Work</a>
              </div>
              <div class="nav-item">
                <a class="nav-link header_menu_link" href="#">Pricing</a>
              </div>
              <div class="nav-item">
                <a class="nav-link header_menu_link" href="#">Blog</a>
              </div>
              <div class="header_nav_cart">
                <i class="fa fa-shopping-cart alig" aria-hidden="true"></i>
              </div>
              <div class="header_nav_search">
                <i class="fa fa-search" aria-hidden="true"></i>
                <div class="modal_search" id="popup" tabindex="-1" role="dialog">
                  <div class="modal-dialog_search" role="document">
                    <div class="modal-content_search">
                      <div class="search_block_logo">
                        <img class="logo_image_search" src="image/Logo.png" alt="">
                        <span class="logoSpan_search">
                                                    <span class="logoTextbold">UNI</span><span class="logoTextnormal">CORP</span>
                                                </span>
                      </div>
                      <div class="search_block">
                        <input class="seach_input" type="text" placeholder="Search">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="">
                <button type="button" class="btn header_nav_btn">
                  Get Started
                </button>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="header_content">
          <div class="header_main_syllable">
            We define consulting <span>as,
                        in essence, helping</span>
          </div>
          <div class="header_second_syllable">
            We count ourselves extraordinarily fortunate to work with major organisations,
            helping them solve their most critical challenges.
          </div>
          <div class="header_content_btns_position">
            <div class="row header_content_btns">
              <div class="col-12 col-lg-6 col-sm-6">
                <button type="button" class="btn header_content_btn_left">
                  Learn More
                </button>
              </div>
              <div class="col-12 col-lg-6 col-sm-6">
                <button class="btn video_icon" type="submit">
                  <i class="fa fa-play" aria-hidden="true"></i>
                </button>
                <span class="video_icon_text">
									Watch Video
								</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
