<footer class="container-fluid footer">
  <div class="container">
    <div class="row footer_margin">
      <div class="col-lg-3 col-sm-4">
        <div class="corp_info">
          UNICORP
          <div class="corp_address">
                        <span>
                            Unicorp 112 W 34th St, New York.
                        </span>
            <span>
                            (+1) 212-946-2707 info@unicorp
                        </span>
            <span>
                            info@unicorp
                        </span>
          </div>
        </div>
        <div class="social_links">
          <a class="social_link" href="">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
          </a>
          <a class="social_link" href="">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
          </a>
          <a class="social_link" href="">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="title_links">
          USEFUL LINKS
          <div class="footer_links">
                        <span class="footer_link">
                            <a href="">
                                Services
                            </a>
                        </span>
            <span class="footer_link">
                            <a href="">
                               About
                            </a>
                        </span>
            <span class="footer_link">
                            <a href="">
                               Careers
                            </a>
                         </span>
            <span class="footer_link">
                            <a href="">
                               Blog
                            </a>
                         </span>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="title_links">
          PRODUCTS
          <div class="footer_links">
                        <span class="footer_link">
                            <a href="">
                                Apps
                            </a>
                        </span>
            <span class="footer_link">
                            <a href="">
                               Intergrations
                            </a>
                        </span>
            <span class="footer_link">
                            <a href="">
                               Procing
                            </a>
                         </span>
            <span class="footer_link">
                            <a href="">
                               Request a Demo
                            </a>
                         </span>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6">
        <div class="title_links title_links_sm">
          RESOURCES
          <div class="footer_links">
                        <span class="footer_link">
                            <a href="">
                                Knowledge Base
                            </a>
                        </span>
            <span class="footer_link">
                            <a href="">
                               Become a Partner
                            </a>
                        </span>
            <span class="footer_link">
                            <a href="">
                               Help Desk
                            </a>
                         </span>
            <span class="footer_link">
                            <a href="">
                               Uptime
                            </a>
                         </span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="title_links title_links_sm">
          NEWSLETER
          <div class="footer_newsletter">
            <div class="footer_newsletter_title">
              Get everything you need ti succeed
            </div>
            <div class="input-group mb-3">
              <input type="email" class="form-control newsletter_input_footer"
                     placeholder="Enter your email"
                     aria-label="Enter your email" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary newsletter_btn_footer" type="button"
                        id="button-addon2">
                  <i class="fa fa-telegram" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="copyright_line">

      </div>

      <div class="row copyright_content">
        <div class="col-6">
          <div class="copyright_content_right">
            ©2020 UniCorp by Viworx-Co. All Rights Reserved.
          </div>
        </div>
        <div class="col-6">
          <div class="copyright_content_left">
            <div>
              <a href="">Terms of Use</a>
              <a href="">Privacy</a>
              <a href="">Sitemap</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>
