<section class="container-fluid block_six">
  <div class="container">
    <div class="content_six_block">
      <div class="title_block_six">
        Using experience to develop leadership
      </div>
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="row content_blocks_block_six">
            <div class="col-4">
              <div class="icons_content_blocks_block_six">
                <i class="fa fa-free-code-camp" aria-hidden="true"></i>
              </div>
            </div>
            <div class="col-8">
              <div class="titles_content_block_block_six">
                Strategy
                <div class="subtitles_content_block_block_six">
                  We're a consulting group that empowers businesses
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="row content_blocks_block_six">
            <div class="col-4">
              <div class="icons_content_blocks_block_six">
                <i class="fa fa-openid" aria-hidden="true"></i>
              </div>
            </div>
            <div class="col-8">
              <div class="titles_content_block_block_six">
                Operations
                <div class="subtitles_content_block_block_six">
                  We're a consulting group that empowers businesses
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="row content_blocks_block_six">
            <div class="col-4">
              <div class="icons_content_blocks_block_six">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
              </div>
            </div>
            <div class="col-8">
              <div class="titles_content_block_block_six">
                Leadership
                <div class="subtitles_content_block_block_six">
                  We're a consulting group that empowers businesses
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="row content_blocks_block_six">
            <div class="col-4">
              <div class="icons_content_blocks_block_six">
                <i class="fa fa-cogs" aria-hidden="true"></i>
              </div>
            </div>
            <div class="col-8">
              <div class="titles_content_block_block_six">
                Efficiency
                <div class="subtitles_content_block_block_six">
                  We're a consulting group that empowers businesses
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
