<section class="container-fluid block_six">
  <div class="container">
    <div class="content_six_block">
      <div class="title_block_six">
        Using experience to develop leadership
      </div>
      <div class="row">
        <div class="col-lg-6 col-sm-12" *ngFor="let item of itemBlocks">
          <div class="row content_blocks_block_six">
            <div class="col-4">
              <div class="icons_content_blocks_block_six">
                <i class="{{item.iconClass}}" aria-hidden="true"></i>
              </div>
            </div>
            <div class="col-8">
              <div class="titles_content_block_block_six">
                {{item.title}}
                <div class="subtitles_content_block_block_six">
                  {{item.content}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
