<section class="container block_five">
  <div class="row">
    <div class="col-lg-7 col-md-12">
      <div class="background_img_block_five">
        <div class="img_left_block_block_five">
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-12">
      <div class="right_block_five_block">
        <div class="right_block_upper_title">
          Our communities of professional
        </div>
        <div class="title_five_block">
          Strategy is all about choices
          <div class="content_block_five_block">
            To build an evolutionary advantage we need to ask ourselves: how can we develop the
            capability
            of great choice making across the organisation? In an ever-evolving world, it is critical to
            capitalise
            on opportunities for transformational growth.
          </div>
        </div>
        <div class="btn_block_five_block">
          <button type="button" class="btn btn_five_block">
            Learn More
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
