<section class="container">
  <div class="seven_block">
    <div class="outer">

      <div class="login-wr">
        <div class="form_title">
          We'd love to hear from you
          <div class="form_subtitle">
            Do you want to start your own business today? Send
            us a message and we'll reply as soon as possible
          </div>
        </div>
        <div class="form">
          <form>
            <input class="inputText" type="text" placeholder="Your Name" required>
            <input class="inputEmail" type="email" placeholder="Your Email" required>
            <input class="Comments" type="text" placeholder="Comments" required>
            <button type="button" class="btn form_btn">
              Learn More
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
