<section class="container block_two">
  <div class="row">
    <div class="col-12">
      <div class="title_blockTwo">
        We’re committed to leaving organisations and their people in a truly better place
      </div>
    </div>
    <div class="col-lg-5 col-md-12">
      <div class="row block_two_left_section_margin">
        <div class="col-12  d-flex justify-content-center" *ngFor="let item of leftSection">
          <div class="block_two_left_section">
            <div class="left_section_what_we_do">
              {{item.title}}
            </div>
            <div class="left_section_we_do">
              {{item.subtitle}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-md-12">
      <div class="photo_block_two">
        <div class="block_two_image_one">

        </div>
        <div class="block_two_image_two">

        </div>

      </div>
    </div>
  </div>
</section>
