<section class="container-fluid nine_block">
  <div class="newsletter_block">
    <div class="newsletter_block_title">
      Subscribe to our newsletter
      <div class="newsletter_block_subtitle">
        Get monthly money tips and stay on top of your finance.
      </div>
    </div>
    <div class="newsletter_block_input">
      <div class="input-group mb-3">
        <input type="email" class="form-control newsletter_input" placeholder="Recipient's username"
               aria-label="Enter your email" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary newsletter_btn" type="button" id="button-addon2">Кнопка
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
