<section class="container block_three">
  <div class="row">
    <div class="col-12">
      <div class="info_title_block_three">
        Born in NYC and active all over the world
      </div>
    </div>
    <div class="col-12">
      <div class="row block_three_title_margin">
        <div class="col-6">
          <div class="block_three_left_title">
            We draw upon the expertise of the best management thinkers
          </div>
        </div>
        <div class="col-6">
          <div class="block_three_right_title">
            View All Services
            <div class="block_three_right_title_icon">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row services_main_block_block_three">
        <div class="col-lg-3 col-md-6 ">
          <div class="first_info_blockSevices_block_three blockSevices_hover">
            <div>
              <div class="services_blocks_icons_block_three">
                <div class="services_bloks_icon_block_three">
                  <div class="services_icon_block_three">
                    <i class="fa fa-pie-chart" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="services_bloks_titles_block_three">
              Capital
              <div class="services_bloks_subtitles_block_three">
                We help organisations become fit for humans and fit for the future.
              </div>
            </div>
            <div class="services_bloks_btn_block_three">
              Learn More
              <div class="services_bloks_btn_icon_block_three">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 ">
          <div class="second_info_blockSevices_block_three blockSevices_hover">
            <div>
              <div class="services_blocks_icons_block_three">
                <div class="services_bloks_icon_block_three">
                  <div class="services_icon_block_three">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="services_bloks_titles_block_three">
              Consulting
              <div class="services_bloks_subtitles_block_three">
                We help organisations become fit for humans and fit for the future.
              </div>
            </div>
            <div class="services_bloks_btn_block_three">
              Learn More
              <div class="services_bloks_btn_icon_block_three">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="first_info_blockSevices_block_three blockSevices_hover">
            <div>
              <div class="services_blocks_icons_block_three">
                <div class="services_bloks_icon_block_three">
                  <div class="services_icon_block_three">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="services_bloks_titles_block_three">
              Analitics
              <div class="services_bloks_subtitles_block_three">
                We help organisations become fit for humans and fit for the future.
              </div>
            </div>
            <div class="services_bloks_btn_block_three">
              Learn More
              <div class="services_bloks_btn_icon_block_three">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 ">
          <div class="second_info_blockSevices_block_three blockSevices_hover">
            <div>
              <div class="services_blocks_icons_block_three">
                <div class="services_bloks_icon_block_three">
                  <div class="services_icon_block_three">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="services_bloks_titles_block_three">
              Payroll
              <div class="services_bloks_subtitles_block_three">
                We help organisations become fit for humans and fit for the future.
              </div>
            </div>
            <div class="services_bloks_btn_block_three">
              Learn More
              <div class="services_bloks_btn_icon_block_three">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
